* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utili */

ul {
  list-style-type: none;
}


.h-m:hover {
  cursor: pointer;
  transform: scale(1.1);

}

.centro {
  justify-content: center;
}

.container {
  width: 1200px;
  margin: 10px;
}

.row {
  display: flex;
}

.p-20 {
  padding: 20px;
}


.p-10 {
  padding: 10px;
}

.m-20 {
  margin: 20px;

}

.p-rl-20 {
  padding: 0px 20px;
  color: white;
}

.white {
  color: white;
}

.p-110 {
  padding-top: 110px;
}

/* header nel main */

header {
  width: 100%;
  height: 100px;
  background-color: rgb(19, 18, 18);
  justify-content: flex-end;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 250px;
  width: calc(100vw - 250px);
}

.btn {
  padding: 12px 30px;
  border-radius: 15px;
  color: rgb(7, 7, 7);
  background-color: rgb(255, 255, 255);
  margin-top: 25px;
}


/* main */



main {
  height: calc(100vh - 100px);
  display: flex;
}

span {
  color: grey;

}

h2,
h4 {
  color: white;

}

main ul li {
  margin-top: 15px;

}

main ul li img {
  height: 30px;
}

main strong img {
  height: 25px;
}


/* barra laterale*/

#b-laterale {
  width: 250px;
  background-color: rgb(0, 0, 0);
  height: 100%;
  color: rgb(218, 192, 192);
}

.spotify-logo {
  width: 9rem;
}


/* contenuto main */

main img {
  max-width: 100%;
}

#contenuto {
  height: 100%;
  width: calc(100vw - 250px);
  background-color: rgb(46, 55, 73);
  overflow-y: auto;

}

.spazio-t2 {
  margin-top: 150px;
  padding: 0px 0px 0px 20px;
}

.spazio-t3 {
  margin-top: 80px;
  padding: 0px 0px 0px 20px;
}

.scritte {
  justify-content: center;

}

.colonne {
  width: calc((100% / 6) - ((24px * 5) / 6));
  height: 150px;
  margin: 8px;
  text-align: center;
}

.colonne-rotonde {
  width: calc((100% / 6) - ((24px * 5) / 6));
  height: 150px;
  border-radius: 50%;
  margin: 8px;
  text-align: center;
}

.rotonde {
  border-radius: 50%;
}

.sezioni {
  padding: 0px 20px;
  color: rgb(114, 113, 113);
}

/* footer */

footer {
  height: 100px;
  background-color: rgb(52, 52, 53);
}

time {
  color: white;
}

footer img {
  height: 70px;
  padding: 10px;
}

.brano {
  width: 25%;
  padding: 10px 0px;
  text-align: center;
}

.bottoni {
  width: 50%;
  text-align: center;
}

.volume {
  width: 25%;
  text-align: end;

}

.interagire {
  color: white;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  font-size: 28px;
}

.barra {
  background-color: #5e5e5e;
  border-radius: 8px;
  height: 4px;
  width: 500px;
  margin: 0px 25px;
}

.barra-tempo {
  background-color: #cac8c8;
  border-radius: 8px;
  height: 4px;
  width: 100px;
}

.tempo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume {
  display: flex;
  justify-content: end;
  align-items: center;
}

.barra-volume {
  background-color: #5e5e5e;
  border-radius: 8px;
  height: 4px;
  width: 130px;
  margin: 5px 10px;

}

.barra-volume-attuale {
  background-color: #cac8c8;
  border-radius: 8px;
  height: 4px;
  width: 20px;
}

.dritto {
  align-items: center;
}