* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utili */

body {
  font-family: Arial, Helvetica, sans-serif;
}


ul {
  list-style-type: none;
}


.h-m:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: white;
}

.centro {
  justify-content: center;
}

.container {
  max-width: 1200px;
}

.row {
  display: flex;
}

.m-top-20 {
  margin-top: 20px;
}

.p-20 {
  padding: 20px;
}

.m-5 {
  margin: 5px;
}

.p-10 {
  padding: 10px;
}

.m-20 {
  margin: 20px;

}

.p-5 {
  padding: 5px;
}

.p-rl-20 {
  padding: 0px 20px;
  color: white;
}

.white {
  color: white;
}

.grey {
  color: grey;
}

.p-110 {
  padding-top: 110px;
}

.p-left-10 {
  padding-left: 10px;
  color: white;
}

.m-l-5 {
  margin-left: 5px;
}

/* header nel main */

header {
  width: 100%;
  height: 100px;
  background-color: rgb(19, 18, 18);
  justify-content: flex-end;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 250px;
  width: calc(100vw - 250px);
}

.btn {
  padding: 12px 55px;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(19, 18, 18);
  border-color: rgb(255, 255, 255);
  margin: 25px 15px;

}

/* main */

main {
  height: calc(100vh - 100px);
  display: flex;
}


h2,
h4 {
  color: white;

}

main ul li {
  margin-top: 10px;

}

main ul li img {
  height: 30px;
}

main strong img {
  height: 25px;
}

.playlist {
  margin-top: 20px;
}


/* barra laterale*/


#b-laterale {
  width: 250px;
  background-color: rgb(0, 0, 0);
  height: 100%;
  color: grey;
  padding: 25px;
}

#b-laterale .spotify-logo-small {
  display: none;
}

.crea {
  display: flex;
  align-items: center;
}

.top-sidebar {
  height: calc(100% - 50px);
}

.spotify-logo {
  width: 9rem;
}

.profile {
  height: 20px;
  color: rgb(0, 0, 0);
  margin-top: 10px;

}

.grande {
  display: flex;
  font-size: 40px;
}

.fondo {
  height: 50px;

}

.app {
  margin-bottom: 10px;
}

/* contenuto main */

main img {
  max-width: 100%;
}

#contenuto {
  height: 100%;
  width: calc(100vw - 250px);
  background-color: rgb(46, 55, 73);
  overflow-y: auto;
}

.play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.play-cerchio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0;
}

.play-cerchio i {
  color: white;
  font-size: 3em
}

.over {
  position: relative;
}

.play i {
  color: white;
  font-size: 3em
}

.display:hover .play {
  opacity: 1;
}

.display:hover .play-cerchio {
  opacity: 1;
}


.spazio-t2 {
  margin-top: 50px;
  padding: 0px 0px 0px 20px;
}

.spazio-t3 {
  margin-top: 80px;
  padding: 0px 0px 10px 20px;
}

.scritte {
  justify-content: center;

}

.recente {
  justify-content: flex-start;
}

.colonne-iniziali {
  width: calc((100% / 6) - ((23px * 5) / 6));
  margin: 8px;

  text-align: center;
}

.colonne-secondarie {
  width: calc(16.3% - 16px);
  margin: 8px;
  text-align: center;
}

.colonne-rotonde {
  width: calc(17% - 23px);
  border-radius: 50%;
  margin: 8px;
  text-align: center;
}

.rotonde {
  border-radius: 50%;
}

.sezioni {
  padding: 0px 20px;
  color: rgb(114, 113, 113);
}

.sezioni:hover::after {
  content: "";
  display: flex;
  width: 35px;
  height: 3px;
  background-color: rgb(20, 224, 20);
  margin: 2px auto 0 auto;
  border-radius: 2px;
}

/* footer */

footer {
  height: 100px;
  background-color: rgb(52, 52, 53);
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px
}

time {
  color: white;
}

footer img {
  height: 70px;
  padding: 10px;
}

.piccola {
  font-size: 17px;
}

.media {
  font-size: 22px;
}

.normale {
  font-size: 27px;
}

.brano {
  width: 25%;
  padding: 10px 0px;
  text-align: center;
}

.bottoni {
  width: 50%;
  text-align: center;
}

.volume {
  width: 25%;
  text-align: end;

}


.interagire {
  color: white;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}

.barra {
  background-color: #5e5e5e;
  border-radius: 8px;
  height: 4px;
  width: 500px;
  margin: 0px 25px;
}

.barra-tempo {
  position: relative;
  background-color: #cac8c8;
  border-radius: 8px;
  height: 4px;
  width: 100px;
}

.barra-tempo-bottone {
  position: absolute;
  top: 50%;
  right: 0;
  display: none;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid white;
}

.tempo:hover .barra-tempo {
  background-color: red;
}

.tempo:hover .barra-tempo-bottone {
  display: block;
}

.volume:hover .barra-volume-attuale {
  background-color: red;
}

.volume:hover .barra-tempo-bottone {
  display: block;
}

.tempo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume {
  display: flex;
  justify-content: end;
  align-items: center;
}

.barra-volume {
  background-color: #5e5e5e;
  border-radius: 8px;
  height: 4px;
  width: 130px;
  margin: 5px 10px;

}

.barra-volume-attuale {
  position: relative;
  background-color: #cac8c8;
  border-radius: 8px;
  height: 4px;
  width: 20px;
}

.dritto {
  align-items: center;
}

/* altri schermi  */

@media screen and (max-width: 992px) {

  .container {
    width: 100%;
  }

  .scritte {
    flex-wrap: wrap;
  }

  .recente {
    flex-wrap: wrap;
  }

  .colonne-iniziali {
    width: calc(25% - 16px);
    ì flex-wrap: wrap;
  }

  .colonne-secondarie {
    width: calc(25% - 16px);
  }

  .colonne-rotonde {
    width: calc(25% - 16px);
  }

  .spazio-t2 {
    margin-top: 30px;
    padding: 0px 0px 0px 20px;
  }

}

@media screen and (max-width: 768px) {

  header {
    left: 100px;
    width: calc(100vw - 100px);
  }


  .container {
    width: 100%;
  }

  .colonne-iniziali {
    width: calc(50% - 23px);
    display: flex;
    flex-direction: column;


  }

  .colonne-secondarie {
    width: calc(50% - 23px);
    display: flex;
    flex-direction: column;

  }

  .colonne-rotonde {
    width: calc(50% - 23px);
    display: flex;
    flex-direction: column;
  }

  .recente {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #b-laterale .spotify-logo {
    display: none;
  }

  #b-laterale div ul li.playlist.h-m {
    display: none;
  }

  #b-laterale h3.playlist {
    display: none;
  }

  #b-laterale div ul li i {
    display: none;
  }

  #b-laterale .fondo span {
    font-size: 0;
  }

  #b-laterale .fondo hr {
    display: none;
  }

  #b-laterale .fondo h4 {
    font-size: 0;
  }

  #b-laterale .top-sidebar ul.playlist li {
    font-size: 0;
  }

  #b-laterale .top-sidebar li {
    font-size: 0;
  }

  #b-laterale {
    width: 100px;
    padding: 35px;
  }

  #contenuto {
    height: 100%;
    width: calc(100vw - 100px);
  }

  #b-laterale .spotify-logo-small {
    display: flex;
  }

  .download {
    display: flex;
  }


  /* footer 768px */

  .interagire {
    font-size: 3px;
    padding: 10px;
  }

  .barra {
    width: 150px;
  }

  .barra-tempo {
    width: 30px;
  }

  .barra-volume {
    width: 70px;
  }

  .heart {
    margin-bottom: 10px;
  }

  .download {
    margin-left: 3px;

  }

}